@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", "Arial", serif;
  background-color: #f0f0f0;
  font-size: medium;
}

/* Nav bar */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d6df28;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

#sticky-nav-con {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.Underline:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
.currentPage {
  text-decoration: underline;
  text-underline-offset: 7px;
}

/* Main Nav */
#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  border: 0;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #000;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/**/
.container {
  display: grid;
  width: 100%;
  height: 100%;
}
.container img {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#hero {
  position: relative;
  height: 100%;
  text-align: left;
  color: white;
}

.hero-title {
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 2; /* Above the image */
  color: black;
  animation: leftOne 2s ease-out forwards;
}

.hero-text {
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 10%;
  z-index: 2;
  color: black;
  animation: leftTwo 1s ease-out 1s forwards;
}

.hero-button {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  color: white;
  border: none;
  padding: 0px 20px 20px 50px;
  cursor: pointer;
}
#hero button:hover {
  color: black;
  cursor: pointer;
  box-shadow: inset 0px -120px 0px #de3274;
}

@keyframes leftOnemobile {
  0% {
    width: 20%;
    height: 120px;
    left: -300px;
    opacity: 0;
  }
  25% {
    left: 5%;
    opacity: 0.5;
  }
  50% {
    width: 20%;
    height: 120px;
    left: 5%;
    opacity: 0.5;
  }
  70% {
    width: 20%;
    height: 120px;
    opacity: 0.5;
    left: 5%;
    font-size: 50px;
  }

  100% {
    width: 20%;
    height: 120px;
    opacity: 1;
    left: 5%;
    font-size: 50px;
  }
}

@keyframes leftTwomobile {
  0% {
    opacity: 0;
  }
  50% {
    left: 5%;
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    left: 5%;
    font-size: 25px;
  }

  100% {
    opacity: 1;
    left: 5%;
    font-size: 25px;
  }
}

@keyframes leftOne {
  0% {
    width: 1000px;
    height: 120px;
    left: -300px;
    opacity: 0;
  }
  25% {
    left: 5%;
    opacity: 0.5;
  }
  50% {
    width: 1000px;
    height: 120px;
    left: 15%;
    opacity: 0.5;
  }
  70% {
    width: 1000px;
    height: 120px;
    opacity: 0.5;
    left: 15%;
    font-size: 40px;
  }

  100% {
    width: 1000px;
    height: 120px;
    opacity: 1;
    left: 15%;
    font-size: 55px;
  }
}

@keyframes leftTwo {
  0% {
    opacity: 0;
  }
  50% {
    left: 15%;
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    left: 15%;
    font-size: 10px;
  }

  100% {
    width: 1000px;
    height: 100px;
    opacity: 1;
    left: 15%;
    font-size: 20px;
  }
}

#hero img {
  /* stretch across all 3 columns */
  grid-column: 1/-1;
  /* stay in first row to allow for overlap */
  grid-row: 1/-1;
  justify-self: center;
}
.grid-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; /* Adjust padding if needed */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

#hero .grid-con {
  /* sit in the middle of the 3 column grid */
  grid-column: 3/3;
  /* stay in the top row, so it overalps the image */
  grid-row: 1/1;
  /* get rid of any margin from original .grid-con class */
  margin: 0;
}

#hero h2 {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#hero h4 {
  padding-bottom: 15px;
  font-weight: 400;
}

#hero p {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#hero button {
  margin-top: 20%;
  background-color: #000;
  padding: 14px 80px 14px 65px;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#hero button::before,
#hero button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f02d98;
  transition: width 0.3s ease;
}

#hero button::before {
  top: 0;
  left: 0;
}

#hero button::after {
  bottom: 0;
  right: 0;
}

#hero button:hover::before,
#hero button:hover::after {
  width: 100%;
}

#hero button:hover {
  background-color: #f02d98;
  color: white;
}

/*Zima List colour */
.zima-list li {
  color: #000;
  transition: color 0.3s ease-in-out;
}
.zima-list li:nth-child(1):hover {
  color: #d6df28;
}

.zima-list li:nth-child(2):hover {
  color: #ff810a;
}

.zima-list li:nth-child(3):hover {
  color: #f02d98;
}

.zima-list li:nth-child(4):hover {
  color: #35ff1f;
}

.zima-list li a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.zima-list li a:hover {
  opacity: 0.8;
}

#why-zima {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: left;
}

.why-zima-content {
  display: flex;
  align-items: center;
}

.why-zima-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}
ƒ .why-zima-image img {
  object-fit: fill;
  height: 50%;
}

.why-zima-text {
  text-align: left;
  top: 0;
}

.why-zima-text p,
.why-zima-text h2 {
  margin: 10px 0;
}

.why-zima-text ul {
  list-style-type: none;
  padding: 2px;
  margin: 0;
}

.why-zima-text ul li {
  margin: 20px 0;
  text-align: left;
}

.why-zima-text ul li a {
  text-decoration: dotted;
  font-weight: bold;
}

.view-button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-button button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.9s ease;
}

.view-button button::before,
.view-button button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f02d98;
  transition: width 0.3s ease;
}

.view-button button::before {
  top: 0;
  left: 0;
}

.view-button button::after {
  bottom: 0;
  right: 0;
}

.view-button button:hover::before,
.view-button button:hover::after {
  width: 100%;
}

.view-button button:hover {
  background-color: #f02d98;
  color: white;
}
/*Contact Page*/

#contact-hero-image {
  height: 90%;
  width: 90%;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px grey;
  padding: 10px;
}

#contact-hero-image h1 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image h2 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image button {
  margin-top: 20px;
  background-color: #d6df28;
  padding: 14px 80px 14px 65px;
  color: black;
  border-radius: 25px;
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
}

#contact-hero-image p {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/*Exclusive Flavour*/

#exclusive-flavours {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 40px;
}

.flavours-content {
  display: contents;
}

.flavours-content-text {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flavours-content-text h3 {
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 10px;
}

.flavours-content-text h4 {
  margin-bottom: 10px;
}

.flavours-content-text p {
  line-height: 1.5;
}

.box1,
.box2,
.box3 {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.box1 {
  grid-column: 2 / span 1;
  height: 90%;
  width: 300px;
}

.box2 {
  grid-column: 3 / span 1;
  height: 90%;
  width: 300px;
}
.box3 {
  grid-column: 4 / span 1;
  height: 90%;
  width: 300px;
}

.box_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  #exclusive-flavours {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%; /* Ensure the boxes take full width on smaller screens */
    height: auto;
  }

  .flavours-content-text {
    grid-column: 1 / -1;
    text-align: center;
  }
}
/* Gallergy Slider*/

.gallery-text {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.gallery-text h3 {
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 10px;
}

#slider-container {
  overflow: hidden;
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 8cap;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  max-width: 100%;
  height: 80%;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

#prev-btn {
  left: 0px;
}

#next-btn {
  right: 0px;
}

/* Video Container */
.video-container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* Video Element */
.video-container video {
  width: 100%;
  height: auto;
}

/*Signup Form*/
#signup-form-div {
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.signup-container {
  background-color: #d6df28;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.signup-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.signup-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.signup-form {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.signup-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 5px;
  border: 1px solid #cce7d0;
  width: 500px;
  margin-right: 20px;
  max-width: 100%;
}

.signup-form button {
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #333;
}

#thank-you-message {
  display: none;
  color: grey;
  margin-top: 10px;
}

/*Zima Product Page*/

.product-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}

.product-hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.product-hero-text {
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#product-hero-text p {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-hero-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

.product-hero-container button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.orange-box,
.grapes-box,
.original-box,
.melon-box,
.lemon-box {
  position: relative;
  font-size: 32px;
  margin-bottom: 10px;
  color: black;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.right-box {
  position: relative;
  font-size: 32px;
  margin-bottom: 10px;
  color: black;
  text-align: left;
  background-color: rgb(255, 255, 255);
  transform: translateY(130px);
}

@media (max-width: 799px) {
  .product-display {
    all: revert;
    display: grid;
  }
  .right-box {
    all: revert;
    transform: translateY(0);
  }
}

.orange-box:hover,
.grapes-box:hover,
.original-box:hover,
.melon-box:hover,
.lemon-box:hover {
  background-color: #f5f5f5;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.product-hero-container button::before,
.product-hero-container button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f02d98;
  transition: width 0.3s ease;
}

.product-hero-container button::before {
  top: 0;
  left: 0;
}

.product-hero-container button::after {
  bottom: 0;
  right: 0;
}

.product-hero-container button:hover::before,
.product-hero-container button:hover::after {
  width: 100%;
}

.product-hero-container button:hover {
  background-color: #f02d98;
  color: white;
}
.original-box img {
  width: 100%;
  height: auto;
}

.orange-box img {
  width: 100%;
  height: auto;
}

.orange-box {
  position: relative;
}

.grapes-box img {
  width: 100%;
  height: auto;
}

.grapes-box {
  position: relative;
}

.melon-box img {
  width: 100%;
  height: auto;
}

.melon-box {
  position: relative;
}

.lemon-box img {
  width: 100%;
  height: auto;
}

.lemon-box {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-overlay img {
  width: 100%;
  height: auto;
}

.foreground {
  position: relative;
  z-index: 2;
  margin-top: 13%;
}

.foreground img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.foreground:hover img {
  transform: rotate(-15deg);
}

.text {
  position: relative;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.text h1 {
  font-size: 48px;
  margin: 10px 0;
  color: #333;
}

.text p {
  font-size: 16px;
  color: #000000;
  flex: 1;
  margin-right: 20px;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Add some space between the title and the text/button */
}

.text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0; /* Prevents the button from shrinking */
}

.text button:hover {
  background-color: #555;
}
.text:hover {
  background-color: #efefef;
}

/*Contact page*/

.contact-section {
  padding: 50px 20px;
}

.container-contact {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.heading h1 {
  font-size: 48px;
  color: black;
  margin-bottom: 10px;
}
.heading h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.heading p {
  font-size: 18px;
  color: #333;
}

.heading em {
  font-style: italic;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.left img {
  max-width: 100%;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.right h2 {
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

span {
  font-size: 12px;
  color: #999;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #b8eb1d;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

button:hover {
  background-color: #333;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .right {
    margin-top: 20px;
    max-width: 100%;
  }
}

@media (max-width: 530px) {
  .container-contact {
    padding: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name-fields {
    flex-direction: column;
    width: 100%;
  }

  .name-fields input {
    width: 100%;
    margin-bottom: 10px; /* Add space between fields */
  }

  .contact-section button[type="submit"] {
    width: 100%;
    padding: 15px;
  }

  /* Adjust any other elements that need to be responsive */
  .left,
  .right {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .left img {
    max-width: 100%;
    height: auto;
  }
}

/*Product Page*/
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  margin-right: 20px;
  transition: ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 14px;
}

#product1 .pro .des h5 {
  color: 1a1a1a;
  font-size: 20px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 h2 {
  color: black;
  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
  background-color: #deff10;
  display: inline-block;
  padding: 4px 40px;
}

#product1 p {
  margin-top: 0;
  font-size: 20px;
  font-family: sans-serif;
}

#product1 .pro .des h4 {
  color: black;

  font-size: 20px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d6df28;
  color: black;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* footer */

footer {
  padding: 40px;
  background-color: rgb(53, 53, 53);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  width: 120px;
  height: auto;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b46;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer .col {
    align-items: center;
  }
}

/* ---Tablet Library Grid Styles--- */
@media (max-width: 768px) {
  /* make the pic go down */
  .why-zima-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-zima-image {
    margin-top: 20px; /* Add some spacing between the text and the image */
    width: 100%; /* Ensure the image scales properly */
    text-align: center; /* Center the image */
  }
  .why-zima-image img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  #sticky-nav-con {
    position: sticky;
    top: 0px;
    justify-content: right;
    z-index: 1;
  }

  #main-nav {
    margin-top: 4%;
    margin-bottom: 4%;
    justify-content: right;
  }

  #main-nav ul li a {
    display: inline;
  }

  #burger-con {
    display: block;
    font-size: 12px;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    margin-right: 10px;
  }

  #burger-con ul li:last-child {
    margin-right: 0px;
  }

  #logo {
    margin-top: 32px;
    order: -1;
  }
}

/* off-screen-menu */
.off-screen-menu {
  background-color: #d6df28;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
  z-index: 4;
}
.off-screen-menu ul {
  list-style-type: none;
}
.off-screen-menu.active {
  right: 0;
}

/* nav */
nav {
  display: none;
}
@media (max-width: 1325px) {
  .hero-title {
    top: 30%;
  }
  .hero-text {
    top: 50%;
  }
  .hero-button {
    top: 60%;
  }
  .flavours-content-text,
  .box3 {
    grid-column: 2 / -3;
    height: auto;
  }
}
@keyframes moveElement {
  100% {
    opacity: 1;
    left: 15%;
    font-size: 40px;
  }
}
@media (max-width: 1088px) {
  .hero-title {
    top: 25%;
    animation: moveElement 2s ease-out forwards;
  }
  .hero-text {
    top: 40%;
  }
  .hero-button {
    top: 50%;
  }
}
@media (max-width: 880px) {
  .why-zima-image {
    margin-left: 0px;
    height: auto;
  }
  .view-button,
  .box1,
  .box2,
  .box3 {
    grid-column: 3 / -3;
    height: auto;
  }
  .hero-text {
    top: 55%;
    animation: leftTwomobile 1s ease-out 1s forwards;
  }
  .hero-button {
    top: 70%;
    left: -2%;
    border: none;
    cursor: pointer;
  }
  .container img {
    content: url("../images/cover-page\(mobile\).png");
  }
  .hero-title {
    top: 20%;
    animation: leftOnemobile 2s ease-out forwards;
  }

  #header {
    display: none;
  }
  nav img {
    margin-left: 20%;
  }
  nav {
    display: flex;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding: 1rem;
    position: sticky;
    background-color: #d6df28;
  }

  .ham-menu {
    display: block;
  }
}

@media (max-width: 634px) {
  .hero-title {
    top: 15%;
  }

  .hero-text {
    top: 45%;
  }
  .hero-button {
    top: 58%;
  }
}

@media (max-width: 477px) {
  .hero-text {
    top: 30%;
  }
  .hero-button {
    top: 42%;
  }
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 4;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #000000;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Lightbox styling */
.lightbox {
  width: 80vh;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(22, 22, 22, 0.85);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  z-index: 5000;

  display: none;
}

.lightbox article {
  background: #fffcfc;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.lb_image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 40px;
}

.lightbox_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 2em;
  text-decoration: none;
}

.lightbox_close:hover {
  opacity: 0.5;
  color: red;
}
