@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Nav bar */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d6df28;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  font-weight: 900;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Hero image */

/*#hero {
  background-size: cover;
  height: 90vh;
  width: 90%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
*/

.container {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/cover-page.png");
}

#hero {
  position: relative;
  height: 100%;
  text-align: left;
  color: white;
}

.container .hero-title {
  position: absolute;
  top: 120px;
  left: 15%;
  width: 1000px;
  height: 100px;
  color: black;
  animation: leftOne 2s ease-out forwards;
}

.container .hero-text {
  position: absolute;
  top: 50%;
  width: 700px;
  height: 100px;
  left: 15%;
  opacity: 0;
  color: black;
  animation: leftTwo 4s ease-out 3s forwards;
}

.container .hero-button {
  position: absolute;
  top: 40%;
  width: 700px;
  height: 100px;
  left: 15%;
}

#hero button:hover {
  background-color: rgb(255, 15, 15);
  color: black;
  cursor: pointer;
}

@keyframes leftOne {
  0% {
    width: 1000px;
    height: 120px;
    left: -300px;
    opacity: 0;
  }
  25% {
    left: 5%;
    opacity: 0.5;
  }
  50% {
    width: 1000px;
    height: 120px;
    left: 15%;
    opacity: 0.5;
  }
  70% {
    width: 1000px;
    height: 120px;
    opacity: 0.5;
    left: 15%;
    font-size: 40px;
  }

  100% {
    width: 1000px;
    height: 120px;
    opacity: 1;
    left: 15%;
    font-size: 55px;
  }
}

@keyframes leftTwo {
  0% {
    opacity: 0;
  }
  50% {
    left: 15%;
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    left: 15%;
    font-size: 10px;
  }

  100% {
    width: 1000px;
    height: 100px;
    opacity: 1;
    left: 15%;
    font-size: 20px;
  }
}

#hero img {
  /* stretch across all 3 columns */
  grid-column: 1/-1;
  /* stay in first row to allow for overlap */
  grid-row: 1/-1;
  justify-self: center;
}

#hero .grid-con {
  /* sit in the middle of the 3 column grid */
  grid-column: 2/3;
  /* stay in the top row, so it overalps the image */
  grid-row: 1/1;
  /* get rid of any margin from original .grid-con class */
  margin: 0;
}

/*#hero h1 {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #d6df28;
  padding: 5px 10px;
  font-size: 52px;
  margin-bottom: 0;
}
*/

#hero h2 {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#hero h4 {
  padding-bottom: 15px;
  font-weight: 400;
}

#hero p {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#hero button {
  margin-top: 20%;
  background-color: #000;
  padding: 14px 80px 14px 65px;
  color: white;
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
}

#why-zima {
  display: flex;
  justify-content: center;
  padding: 80px;
  text-align: left;
}

.why-zima-content {
  display: flex;
  align-items: center;
}

.why-zima-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  background-image: url(/images/right-heroImg-bkgd.png);
}

.why-zima-image img {
  object-fit: fill;
  height: 50%;
}

.why-zima-text {
  text-align: left;
}

.why-zima-text p,
.why-zima-text h2 {
  margin: 10px 0;
}

.why-zima-text ul {
  list-style-type: none;
  padding: 2px;
  margin: 0;
}

.why-zima-text ul li {
  margin: 20px 0;
  text-align: left;
}

.why-zima-text ul li a {
  text-decoration: dotted;
  color: #000;
  font-weight: bold;
}
.view-button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-button button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-button button:hover {
  background-color: rgb(255, 15, 15);
  color: white;
}

/*Contact Page*/

#contact-hero-image {
  height: 90%;
  width: 90%;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px grey;
  padding: 10px;
}

#contact-hero-image h1 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image h2 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image button {
  margin-top: 20px;
  background-color: #d6df28;
  padding: 14px 80px 14px 65px;
  color: black;
  border-radius: 25px;
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
}

#contact-hero-image p {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/*Exclusive Flavour*/

#exclusive-flavours {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 40px;
}

.flavours-content {
  display: contents;
}

.flavours-content-text {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flavours-content-text h3 {
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 10px;
}

.flavours-content-text h4 {
  margin-bottom: 10px;
}

.flavours-content-text p {
  line-height: 1.5;
}

.box1,
.box2,
.box3 {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.box1 {
  grid-column: 2 / span 1;
  height: 90%;
  width: 300px;
}

.box2 {
  grid-column: 3 / span 1;
  height: 90%;
  width: 300px;
}
.box3 {
  grid-column: 4 / span 1;
  height: 90%;
  width: 300px;
}

.box_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #exclusive-flavours {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .flavours-content-text {
    grid-column: 1 / -1;
    text-align: center;
  }

  .box1,
  .box2,
  .box3 {
    grid-column: 1 / -1;
    height: auto;
  }
}
/* Gallergy Slider*/

.gallery-text {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.gallery-text h3 {
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 10px;
}

#slider-container {
  overflow: hidden;
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 8cap;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  max-width: 100%;
  height: 80%;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

#prev-btn {
  left: 0px;
}

#next-btn {
  right: 0px;
}

/* Video Container */
.video-container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/* Video Element */
.video-container video {
  width: 100%;
  height: auto;
}

/*signup form */

.signup-container {
  background-color: #d6df28;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.signup-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
  max-width: 100%;
}

.signup-form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: black;
  color: white;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #333;
}
/*Contact page*/

.contact-section {
  padding: 50px 20px;
}

.container-contact {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.heading h1 {
  font-size: 48px;
  color: black;
  margin-bottom: 10px;
}

.heading p {
  font-size: 18px;
  color: #333;
}

.heading em {
  font-style: italic;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.left img {
  max-width: 100%;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Adjust the form width */
  margin: 0 auto; /* Center the form within the right div */
}

.right h2 {
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

span {
  font-size: 12px;
  color: #999;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #b8eb1d;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

button:hover {
  background-color: #333;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .right {
    margin-top: 20px;
    max-width: 100%; /* Ensure the form is full width on smaller screens */
  }
}

/*Product Page*/
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  margin-right: 20px;
  transition: ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 14px;
}

#product1 .pro .des h5 {
  color: 1a1a1a;
  font-size: 20px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 h2 {
  color: black;
  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
  background-color: #deff10;
  display: inline-block;
  padding: 4px 40px;
}

#product1 p {
  margin-top: 0;
  font-size: 20px;
  font-family: sans-serif;
}

#product1 .pro .des h4 {
  color: black;

  font-size: 20px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d6df28;
  color: black;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* footer */

footer {
  padding: 40px;
  background-color: rgb(53, 53, 53);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  width: 120px;
  height: auto;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b46;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer .col {
    align-items: center;
  }
}
