@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Nav bar */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #d6df28;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  font-weight: 900;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Hero image */

#hero {
  background-image: url("../images/cover_image.png");
  background-size: cover;
  height: 90vh;
  width: 90%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #d6df28;
  padding: 5px 10px;
  font-size: 52px;
  margin-bottom: 0;
}

#hero h2 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#hero h4 {
  padding-bottom: 15px;
  font-weight: 400;
}

#hero p {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#hero button {
  margin-top: 20px;
  background-color: #d6df28;
  padding: 14px 80px 14px 65px;
  color: black;
  border-radius: 25px;
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
}

#contact-hero-image {
  height: 90%;
  width: 90%;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px grey;
  padding: 10px;
}

#contact-hero-image h1 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image h2 {
  color: black;
  background-color: #cce7d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#contact-hero-image button {
  margin-top: 20px;
  background-color: #d6df28;
  padding: 14px 80px 14px 65px;
  color: black;
  border-radius: 25px;
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
}

#contact-hero-image p {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  margin-right: 20px;
  transition: ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 14px;
}

#product1 .pro .des h5 {
  color: 1a1a1a;
  font-size: 20px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 h2 {
  color: black;
  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 900;
  background-color: #deff10;
  display: inline-block;
  padding: 4px 40px;
}

#product1 p {
  margin-top: 0;
  font-size: 20px;
  font-family: sans-serif;
}

#product1 .pro .des h4 {
  color: black;

  font-size: 20px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #d6df28;
  color: black;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* footer */

footer {
  padding: 40px;
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b46;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}
